_docshots/
_minted-*/
.DS_Store
.idea/
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.ebnf
*.exc
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.log
*.out
*.pug
*.pyg
*.run.xml
*.sty
*.synctex.gz
*.tmp
*.toc
*.zip
build/
iexec.ret
naive-ebnf.pdf
naive-ebnf.ret
naive-ebnf.stderr
naive-ebnf.stdout
naive-ebnf.tex
naive-ebnf.tmp.pl
node_modules/
