.DS_Store
build/
_docshots/
_minted-*/
naive-ebnf.tex
naive-ebnf.ret
naive-ebnf.tmp.pl
iexec.ret
naive-ebnf.stdout
naive-ebnf.stderr
*.ebnf
*.zip
*.toc
naive-ebnf.pdf
*.bbl
*.bcf
*.blg
*.glo
*.sty
*.fdb_latexmk
*.fls
*.aux
*.pug
*.log
*.run.xml
*.aux
*.pyg
*.out
*.dvi
*.idx
*.ilg
*.ind
*.exc
*.synctex.gz
*.tmp